* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	box-sizing: border-box;
}

body {
	font-family: helvetica;
	color: #5977FF;
}

img {
	display: inline-block;
}

header {
	display: inline-block;
	position: relative;
	top: 50%;
	transform: translateY(-60%);

}

hr {
	position: relative;
	top: 50%;
	height: 5px;
	background-color: #fff;
}

nav {
	/*background-color: red;*/
	margin: 5% auto auto 2%;
	position: fixed;
}

section, footer {
	height:100vh;
	overflow: auto;
}

ul
	{
	list-style-type: none;
	text-align: left;
	font-family: helvetica;
	color: #5977FF;
}

li {
	text-decoration: none;
}

h1 {
	letter-spacing: 5px;
	margin: 2% auto auto 2%;
	position: fixed;
}

h2 {
	font-size: 50px;
	text-align: center;
	position: center;
	margin: 40% 30% 0% 30%;
}

h3 {
	font-size: 50px;
	text-align: center;
	position: center;
	margin: 25% 30% 0% 25%;
	padding-top: 20%;
	padding-left: 5%;
}


p {
	color: gray;
	width: 50%;
	margin: auto;
	line-height: 20px;
	text-align: center;
}

a {
	text-decoration: none;
	font-family: helvetica;
	color: #5977FF;
	line-height: 25px;
}


.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	height:0;
}
.top {

}

/*#landing section {
	margin-left: 20%;
	width: 60%;
	line-height: 20px;

}*/

.columns1 {
	width:60%;
	float:center;
	padding:1%;
}

.columns2 {
	width: 50%;
	float: left;
	display: inline-block;
	text-align: left;
}

.columns5 {
	width: 10%;
	padding: auto;
	float: center;
	display: inline-block;
	text-align: center center;
	outline: solid;
	outline-color: gray;
	border: 1%;
	margin: 5% auto auto 8%;
}

.page1p{
	color: gray;
	width: 50%;
	line-height: 20px;
}

.wrapper {
	margin:;
	width: 90%;
	max-width: 980px;
	} 

#landing {
	margin: 5% 5% auto 20%;
	background: url(".jpg") no-repeat center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

@media only screen and (max-width: 768px) {
	body{
		font-size: 24px;
	}
	h1,h2 {
		text-align: center;
	}
	nav a {
		display: block;
		text-align: center;
		margin:0;
	}
	img {

	}
	#column1, #column2 {
		float: none;
		width: auto;
	}
}

@media only screen and (max-width: 480px) {
	body{
		font-size: 16px;
	}
	h1,h2 {
		text-align: center;
	}
	nav a {
		display: block;
		text-align: center;
		margin:0;
	}
	img {

	}
	#column1, #column2 {
		float: none;
		width: auto;
	}
}
