html { 
  background: url(images/atomic.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
body{font-family: helvetica;
	 text-align:center;;
margin:15px;
padding:15px;
border:15px;
line-height:20px;}

h1{
	color:#6DC5E7;
font-size:40px;
}

p 
{color: #65171A;
text-align: center;
font-family: helvetica;
text-transform: uppercase;
letter-spacing:5px;
}
#slogan {font-style: italic;}


ul{color: #FAD161;
text-align: left;
text-indent: 45%;
font-family: helvetica;
text-transform: uppercase;
letter-spacing:5px;
padding-left:0;   
}
ul li  {
 list-style-position:inside
}

div {
  width: 90%;
  height: 80px;
  display: block;
  position: relative;
  border: 2px solid #6DC5E7;
  margin: 20px auto;
  padding: 10px;
  background: #FFFFFF
  line-height:10px;
}

div:after {
  background: url(atomic.jpg);
  opacity: 0.25;
  width: 200px;
  height: 200px;
  top: 0;
  left: 0;
  position: absolute;
  z-index: -1;
  content: "";
}


a {color: #DA5016;
text-align: center;
font-family: helvetica;
text-transform: uppercase;
letter-spacing:5px;}
