@import url(http://fonts.googleapis.com/css?family=Old+Standard+TT);
@import url(http://fonts.googleapis.com/css?family=Raleway);
@import url(http://fonts.googleapis.com/css?family=Fugaz+One);
html { 
/*  background: url(images/atomic.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;*/
}
body{background-color: #000000;
  font-family: helvetica;
	text-align:center;;
  margin:15px;
  padding:15px;
/*  border:15px;*/
  line-height:20px;}

section {
  height: 100vh;
}

h1{
  font-family: 'Fugaz One', serif;
	color:#FFFFFF;
  font-size:100px;
}

p {
  color: #FFFFFF;
  text-align: center;
  font-family: helvetica;
  text-transform: uppercase;
  letter-spacing:5px;
}
h2 {
  color: #FAD161;
  font-family: 'Raleway', sans-serif;
  letter-spacing:5px;
}
ul{
  color: #FAD161;
  text-align: right;
  text-indent: 5%;
  font-family: helvetica;
  text-transform: uppercase;
  letter-spacing:5px;
  padding-left:0;
  position: fixed;   
}
ul li  {
  text-align: right;
  list-style-position:inside;
  list-style-type:none;
}
#menu {
  width: 10%;
/*  height: 125x;*/
  display: block;
  position: relative;
  /*border: 2px solid #6DC5E7;*/
  margin: 1% auto auto 90%;
  padding: 0px auto 40px auto;
  /*background: #FFFFFF;*/
  /*line-height:10px;*/
}
#title {
  width: 60%;
  height: 40px%;
  display: block;
  position: relative;
  /*border: 2px solid #FFFFFF;*/
  margin: 160px auto 0px auto;
/*  padding: 30px auto 10px auto;*/
}
#slogan {
  width: 90%;
  height: 80px;
  display: block;
  position: relative;
 /* border: 2px solid #6DC5E7;*/
  margin: 4px auto;
  padding: 10px;
  /*background: #FFFFFF;*/
  line-height:10px;
}
#about {
  width: 55%;
  height: 80px;
  display: block;
  position: relative;
 /* border: 2px solid #6DC5E7;*/
  margin: 200px auto;
/*  padding: 10px;*/
/*  background: #FFFFFF;*/
  line-height:25px;
}

#prints {
  width: 60%;
  height: 80px;
  display: block;
  position: relative;
  /*border: 2px solid #FFFFFF;*/
  margin: 200px auto;
  padding: 10px;
}
  #tees {
  width: 60%;
  height: 80px;
  display: block;
  position: relative;
  /*border: 2px solid #FFFFFF;*/
  margin: 200px auto;
  padding: 10px;
}
  #fabrics {
  width: 60%;
  height: 80px;
  display: block;
  position: relative;
  /*border: 2px solid #FFFFFF;*/
  margin: 200px auto;
  padding: 10px;
}
 #objects {
  width: 60%;
  height: 80px;
  display: block;
  position: relative;
  /*border: 2px solid #FFFFFF;*/
  margin: 200px auto;
  padding: 10px;
}
a {
  font-family: 'Fugaz One', serif;
  color:#FAD161;
  font-size:80px;
  text-align: center;
  /*text-transform: uppercase;*/
  /*letter-spacing:5px;
*/}
